.popup__form {
  margin: 34px 36px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 720px) {
  .popup__form {
    margin: 25px 22px 0;
  }
}
