.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
  background-size: 120px 120px;
}

@media screen and (max-width: 720px) {
  .profile__avatar {
    margin: 0 0 26px;
  }
}
