.profile__info {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 720px) {
  .profile__info {
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 14px;
  }
}
